body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(60, 67, 55);

}

#footerbar {
    position: fixed;
    padding: 10px;
    background-color: #f0f0f0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 10px 0
}

#footerbar ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#footerbar ul li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid transparent;
    transition: transform 0.2s, border-color 0.2s;
}

#footerbar ul li img:hover {
    border-color: darkblue;
    transform: scale(1.3);
    transition: transform 0.2s, border-color 0.2s;
}


#profile {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px;
    z-index: 100;
}

#profile p {
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #f0f0f0;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: transform 0.2s;
}

#profile p:hover {
    transform: scale(1.1);
    background-color: #e0e0e0;
}

#title {
    font-size: 40px;
    margin: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;

}

#findfriends {
    position: fixed;
    top: 120px;
    /* Distance from the top */
    right: 10px;
    width: 15%;
    background: #fff;
    border-radius: 16px;
    border: 1px solid #e1e8ed;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#findfriends h4 {
    margin-top: 0;
    padding-top: 0;
    color: #14171a;
    font-size: small;
}